---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import RecipeSearch from '../components/RecipeSearch.jsx';

interface RecipeMarkdownFrontmatter {
  title: string;
};

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'ACNH Cookbook';
let description = 'Search for all the yummy goodness that was released in the ACNH 2.0 update!';
let permalink = 'https://acnh-cookbook.netlify.app';

// Data Fetching: List all Markdown posts in the repo.

let allRecipes = Astro.fetchContent<RecipeMarkdownFrontmatter>('./recipes/*.md');
allRecipes = allRecipes.sort((a, b) => a.title.localeCompare(b.title));

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body class="font-serif">
    <Header />
    <div class="layout">
      <main class="content">
        <section class="intro mb-8 text-center text-orange-900 py-6 px-4">
          <h1 class="text-4xl font-bold mb-4">Recipes</h1>
          <p>Search for all the yummy goodness that was released in the ACNH 2.0 update!</p>
          <p>
            Images sourced from <a href="https://acnhcdn.com/" class="underline">ACNH CDN</a> and <a href="https://acnhapi.com/doc" class="underline">ACNH API</a>
          </p>
        </section>

        <RecipeSearch recipes={allRecipes} client:load />
      </main>
    </div>
    <footer class="text-center py-16">
      <p class="text-orange-800">Powered by <a href="https://astro.build/" class="underline">Astro</a> and <a href="https://tailwindcss.com/" class="underline">Tailwind CSS</a></p>
    </footer>
  </body>
</html>
