<footer class="text-center py-16">
  <p class="text-orange-800">Powered by <a href="https://astro.build/" class="underline">Astro</a> and <a href="https://tailwindcss.com/" class="underline">Tailwind CSS</a></p>
</footer>