<header class="layout py-4 px-8">
  <article class="container mx-auto">
    <a href="/" class="text-lg text-orange-800 font-bold hover:underline">
      <span>WIP: ACNH Cookbook</span>
    </a>
  </article>
</header>
