---
import RecipePreview from './RecipePreview.astro';

const { recipes } = Astro.props;
---

<section class="container mx-auto" aria-label="Recipes list">
  <div class="flex flex-wrap flex-shrink">
    {recipes.map(r => (
      <div
        class="w-full md:w-1/3 xl:w-1/4 px-6 py-8 mx-8 md:mx-4 mb-8 bg-orange-50 border-8 border-white rounded-md shadow-md flex items-center recipe-wrapper"
      >
        <RecipePreview recipe={r} />
      </div>
    ))}
  </div>
</section>

<style>
@media screen and (min-width: 768px) {
  .recipe-wrapper {
    max-width: calc(33.333% - 2rem);
  }
}

@media screen and (min-width: 1280px) {
  .recipe-wrapper {
    max-width: calc(25% - 2rem);
  }
}
</style>