---
import RecipePreview from './RecipePreview.astro';

const { recipes } = Astro.props;
---

<section class="container mx-auto" aria-label="Recipes list">
  <div class="flex flex-wrap flex-shrink">
    {recipes.map(r => (
      <div
        class="w-1/4 p-6 mr-4 mb-4 bg-orange-50 border-8 border-white rounded-md shadow-md flex items-center"
        style="max-width: calc(25% - 1rem)"
      >
        <RecipePreview recipe={r} />
      </div>
    ))}
  </div>
</section>
